@page
@using _0_Framework.Application
@model ServiceHost.Areas.Administrator.Pages.Shop.Slider.IndexModel
@{

}


<div class='row'>
    <div class="col-sm-12">
        <h1 class="page-title text-dark"> @ViewData["title"] </h1>
        <p class="pull-right">
            <a id="showModal" href="#showmodal=@Url.Page("./Index", "Register")"
               class="btn btn-success wave-effect wave-light">
                <i class="fa fa-plus-circle"></i>
                Add a new slider
            </a>
        </p>
    </div>
</div>

<div class="panel-heading">
    <h3 class="panel-title">Sliders</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table id="myTable" class="display table-condensed table-bordered table-dark table-striped text-center col-md-12">
                <thead style="white-space: nowrap;">
                    <tr>
                        <th class="text-center">Product Id</th>
                        <th class="text-center">Picture</th>
                        <th class="text-center">Heading</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Deleted</th>
                        <th class="text-center">Modify</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Slider)
                    {
                        <tr>
                            <td> @item.Id</td>
                            <td>
                                <img src="/Images/Site-Picture/Slide-Images/@item.Picture" style="height: 100px; width: 100px;" />
                            </td>
                            <td> @item.Heading</td>
                            <td> @item.Title</td>
                            <td>
                                @if (item.IsDeleted)
                                {
                                    <i class="fa fa-close fa-2x text-danger"></i>
                                }
                                else
                                {
                                    <i class="fa fa-check fa-2x text-success"></i>
                                }
                            </td>

                            <td class="col-sm-1">
                                <a id="showModal"
                                   href="#showmodal=@Url.Page("./Index", "Edit", new {id = item.Id})"
                                   class="btn btn-warning waves-effect waves-light col-lg-12">
                                    <i class="fa fa-edit"></i> Modify
                                </a>
                                @if (@item.IsDeleted)
                                {
                                    <a class="btn btn-default waves-effect wave-light text-danger col-lg-12"
                                       asp-page="./Index" asp-page-handler="Reactivate" asp-route-id="@item.Id">
                                        <i class="fa fa-check"></i> Mark it as "Available"
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-default waves-effect wave-light col-lg-12"
                                       asp-page="./Index" asp-page-handler="Delete" asp-route-id="@item.Id">
                                        <i class="fa fa-close"></i> Mark it as "Deleted"
                                    </a>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts
{
    @if (TempData["Message"] != null)
    {
        if (TempData["Message"].ToString() == "Operation has been successfully proceeded.")
        {
            <script>
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Your work has been saved',
                    showConfirmButton: false,
                    timer: 1000
                })
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: @TempData["Message"],
                    footer: '<a href="">Why do I have this issue?</a>'
                })
            </script>
        }

    }
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                language: { search: 'Search:', searchPlaceholder: "Search ..." }
            });
            $('input[type="search"]').css('border-width', '1px');
        })
    </script>
}
