@page
@using _0_Framework.Application
@model ServiceHost.Areas.Administrator.Pages.Inventory.IndexModel
@{

}


<div class='row'>
    <div class="col-sm-12">
        <h1 class="page-title text-dark"> @ViewData["title"] </h1>
        <p class="pull-right">
            <a id="showModal" href="#showmodal=@Url.Page("./Index", "Create")"
               class="btn btn-success wave-effect wave-light">
                <i class="fa fa-plus-circle"></i>
                Create a Inventory
            </a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3> Search </h3>
            </div>
            <div class="panel-body">
                <form method="get" role="form" class="form-inline" autocomplete="off">
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.ProductId"></label>
                        <select class="form-control" asp-for="SearchModel.ProductId" asp-items="@Model.ProductList">
                            <option value="0">
                                Select a product
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="SearchModel.IsInStock"> Search out of stock Items</label>
                        <input type="checkbox" asp-for="SearchModel.IsInStock" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Search</button>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-purple waves-effect waves-light" asp-page="./Index"> Watch All </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="panel-heading">
    <h3 class="panel-title">Products</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table id="myTable" class="display table-condensed table-bordered table-dark table-striped text-center col-md-12">
                <thead style="white-space: nowrap;">
                    <tr>
                        <th class="text-center">Product Id</th>
                        <th class="text-center">Product Name</th>
                        <th class="text-center">Unit Price</th>
                        <th class="text-center">Current Count</th>
                        <th class="text-center">Modify</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Inventory)
                    {
                        <tr>
                            <td> @item.ProductId</td>
                            <td> @item.ProductName</td>
                            <td> @item.UnitPrice</td>
                            <td> @item.CurrentCount</td>
                            <td class="col-sm-4">
                                <a id="showModal" href="#showmodal=@Url.Page("./Index", "Edit", new {Id = item.Id})"
                                   class="btn btn-warning waves-effect waves-light">
                                    <i class="fa fa-edit"></i> Modify
                                </a>
                                <a id="showModal" href="#showmodal=@Url.Page("./Index", "Increment", new {Id = item.Id})"
                                   class="btn btn-success waves-effect waves-light">
                                    <i class="fa fa-level-up"></i> Increase
                                </a>
                                <a id="showModal" href="#showmodal=@Url.Page("./Index", "Decrement", new {Id = item.Id})"
                                   class="btn btn-danger waves-effect waves-light">
                                    <i class="fa fa-level-down"></i> Reduce
                                </a>
                                <a id="showModal" href="#showmodal=@Url.Page("./Index", "Log", new {Id = item.Id})"
                                   class="btn btn-default waves-effect waves-light"
                                   onclick="$('.modal-dialog').css('width','60%')">
                                    <i class="fa fa-history"></i> Log
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts
{

    @if (TempData["Message"] != null)
    {
        if (TempData["Message"].ToString() == "Operation has been successfully proceeded.")
        {
            <script>
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Your work has been saved',
                    showConfirmButton: false,
                    timer: 1000
                })
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: @TempData["Message"],
                    footer: '<a href="">Why do I have this issue?</a>'
                })
            </script>
        }

    }
    <script>

        $(window).on('hidden.bs.modal', function () {
            $(".modal-dialog").css("width", "600px");
        })


    </script>
}
